body {
  background-color: #BDFFB7;
}

.questionBox {
  margin: 0 auto;
  border: 2px solid orange;
  width: 760px;
  height: auto;
  background-color:#F6D48A;
}
#results {
  margin: 0 auto;
  border-bottom: 2px solid purple;
  height: 100px;
  width: 760px;
  text-align: center;
  position: relative;
  color: #001FFF;
  font-size: 30px;
  font-family: georgia times serif;
  font-weight: 800;

}
.scoreText {
  text-align: center;
  width:760px;
  height:15px;
  background-color:#56FA5D;
}
h3 {
  margin-left: 10px;

}
input {
  margin-left: 20px;
  margin-top: 5px;
}
button{
  font-size: 15px;
  border-radius: 10px;
  background-color: #E26000;
  color:white;
  margin-left: 30px;
}
header {
  border: 2px solid blue;
  margin: 0 auto;
  width: 760px;
  height:auto;
  text-align: center;
  background-color:#616161;
  color:#FFF;
}
